/*I make the heading a different colour, give it a border and center it.*/
h2 
{
	background-color: #F26F90;
	border: 2px solid #111111;
	border-radius: 10px;
	text-align: center;
}

/*I make the heading a different colour, give it a border and center it.*/
h3
{
	background-color: #EB81AF;
	border: 1px dotted #111111;
	border-radius: 5px;
	text-align: center;
}

/*I center the book images.*/
img.books
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*I remove the points and center my poems.*/
 ul li.poem
{
	list-style-type: none;
	text-align:center;
}

/*I make the images go to the left of text and display them in the same line, removing bullet points.*/
 img.music
{
	list-style-type: none;
	display: inline;
	border: 3px solid #111111;
	float: left;
}

/*I make it so the images get larger when the mouse hovers over them*/
img.music:hover
{
	list-style-type: none;
	display: inline;
	height: 215px;
	width: 215px;
	
}

/*I align the paragraphs in the center.*/
p 
{
	text-align: center;
}

	