/*I make the heading a different colour, give it a border and center it.*/
h2 
{
	background-color: #F26F90;
	border: 2px solid #111111;
	border-radius: 10px;
	text-align: center;
}	

/*I give my images a border and center them.*/
img
{
	border: 5px solid #111111;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*I center my paragraph.*/
p
{
	text-align: center;
}

/*I give the smaller heading a colour, border and I center them.*/
h3
{
	background-color: #EB81AF;
	border: 1px dotted #111111;
	border-radius: 5px;
	text-align: center;
}