h2 
{
	background-color: #F26F90;
	border: 2px solid #111111;
	border-radius: 10px;
	text-align: center;
}	

img
{
	border: 5px solid #111111;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p
{
	text-align: center;
}

h3
{
	background-color: #EB81AF;
	border: 1px dotted #111111;
	border-radius: 5px;
	text-align: center;
}